.menuScores {
  -webkit-transform: translateX(607px);
          transform: translateX(607px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  position: absolute;
  right: 0;
  height: 100%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-left: 1px var(--main-color) solid;
  z-index: 99999;
  background-color: var(--bg-color);
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.menuScores .title {
  color: var(--text-color);
  text-align: center;
  margin: 10px auto;
  font-size: 40px;
  padding: 10px;
  text-transform: uppercase;
}

.menuScores .boxesContainer {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menuScores .boxesContainer .searchBar {
  width: -webkit-fill-available;
  margin: 0 5px;
  padding: 5px 10px;
  outline: none;
  border: 1px #12121231 solid;
  font-size: 20px;
  border-radius: 7px;
  background-color: var(--white-1);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.menuScores .boxesContainer .searchBar:focus {
  border: 1px #12121293 solid;
}

.menuScores .boxesContainer .sessionsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
}

.menuScores .boxesContainer .sessionsContainer .titleContainer {
  font-size: 20px;
  text-transform: uppercase;
  padding: 6px 10px;
  padding-right: 0;
  color: var(--text-color);
  background-color: var(--sub-color);
  border-radius: 7px 0 0 7px;
}

.menuScores .boxesContainer .sessionsContainer .sessions {
  font-size: 20px;
  border: none;
  color: var(--main-color);
  background-color: var(--sub-color);
  outline: none;
  border-radius: 0 7px 7px 0;
  padding: 5px;
  width: -webkit-fill-available;
}

.menuScores .boxesContainer .btns {
  display: -ms-grid;
  display: grid;
  gap: .5em;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 5px;
  padding: 0;
  width: auto;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.menuScores .boxesContainer .btns .btn {
  font-size: 20px;
  background-color: var(--sub-color);
  color: var(--text-color);
  padding-block: 5px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.menuScores .boxesContainer .btns .btn:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.menuScores .boxesContainer .createSession {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5px;
}

.menuScores .boxesContainer .createSession .name-input {
  width: -webkit-fill-available;
  padding: 5px 10px;
  outline: none;
  border: none;
  background-color: var(--sub-color);
  color: var(--sub-text-color);
  caret-color: var(--main-color);
  font-size: 20px;
  border-radius: 7px;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.menuScores .boxesContainer .createSession .name-input:focus {
  color: var(--text-color);
}

.menuScores .boxesContainer .createSession .add {
  padding: 5px 10px;
  outline: none;
  background-color: var(--sub-color);
  color: var(--text-color);
  font-size: 20px;
  border-radius: 7px;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.menuScores .boxesContainer .createSession .add:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.menuScores .boxesContainer .scoreViewer {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: -webkit-fill-available;
  margin: 5px;
  font-size: 20px;
  border-radius: 7px;
  background-color: var(--sub-color);
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menuScores .boxesContainer .scoreViewer .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.menuScores .boxesContainer .scoreViewer .data .time-data,
.menuScores .boxesContainer .scoreViewer .data .scramble-data {
  color: var(--text-color);
  padding: 10px;
  width: 100%;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.menuScores .boxesContainer .scoreViewer .data .time-data {
  border-right: 1px var(sub-text-color) solid;
  font-size: 40px;
  font-weight: 100;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.menuScores .boxesContainer .scoreViewer .back,
.menuScores .boxesContainer .scoreViewer .next {
  font-size: 10px;
  font-weight: 100;
  color: var(--text-color);
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background-color: var(--sub-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: auto;
}

.menuScores .boxesContainer .scoreViewer .back:hover,
.menuScores .boxesContainer .scoreViewer .next:hover {
  color: var(--main-color);
}

.menuScores .boxesContainer .scoreViewer .back {
  border-radius: 7px 0 0 7px;
}

.menuScores .boxesContainer .scoreViewer .next {
  border-radius: 0 7px 7px 0;
}

.menuScores .boxesContainer .scores {
  display: -ms-grid;
  display: grid;
  gap: .5em;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  justify-items: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 5px;
  padding: 0;
  width: auto;
  -webkit-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}

.menuScores .boxesContainer .scores .score {
  font-size: 20px;
  background-color: var(--sub-color);
  color: var(--text-color);
  padding: 15px 30px;
  border-radius: 7px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.menuScores .boxesContainer .scores .score:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.openMenu {
  -webkit-transform: none !important;
          transform: none !important;
}

.highlight {
  background-color: var(--main-color) !important;
  color: var(--bg-color) !important;
}
/*# sourceMappingURL=menuScores.css.map */