* {
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: var(--bg-color);
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.container .center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  grid-auto-flow: row;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  max-width: 1240px;
  padding: 2rem;
  -webkit-transition: padding-top .125s;
  transition: padding-top .125s;
  width: 100%;
  z-index: 999;
}

.container .center .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .center .middle .scrambleContainer {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
}

.container .center .middle .scrambleContainer .scramble {
  color: var(--main-color);
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  min-width: 600px;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  text-align: center;
  outline: none;
  border-radius: 7px;
  padding: 0 10px;
}

.container .center .middle .scrambleContainer .scramble:focus {
  background-color: var(--sub-color);
}

.container .center .middle .scrambleContainer .refresh-icon,
.container .center .middle .scrambleContainer .edit-icon {
  fill: var(--sub-text-color);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 20px;
}

.container .center .middle .scrambleContainer .refresh-icon:hover,
.container .center .middle .scrambleContainer .edit-icon:hover {
  fill: var(--text-color);
}

.container .center .middle .timer {
  color: var(--main-color);
  font-size: 150px;
  padding: 50px;
  font-weight: 100;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.container .center .middle .timerMisc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 50px 0;
}

.container .center .middle .timerMisc .text {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .center .middle .timerMisc .text .dif,
.container .center .middle .timerMisc .text .value {
  color: var(--main-color);
  font-size: 30px;
  font-weight: 100;
}

.container .center .middle .timerMisc .dif {
  margin-right: 5px;
}

.container .center .middle .timerMisc .value {
  color: var(--text-color) !important;
}

.container .center .middle .timerMisc .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-size: 30px;
  color: var(--sub-text-color);
}

.container .center .bottom .center {
  text-align: center;
}

.container .center .bottom .center .theme {
  color: var(--sub-text-color);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.container .center .bottom .center .theme:hover {
  color: var(--text-color);
}

.openMenuContainer {
  margin-right: 568px;
}
/*# sourceMappingURL=style.css.map */